.main{
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

.main__title{
    font-size: 3em;
}


.main__title-color{
    color: #CCAE62;
}

.main__subtitle-color{
    color: #7BD3C2;
}

.main__img{
    width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
    max-width: 400px; /* Establece el ancho máximo de la imagen */
    height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
    display: block; /* Hace que la imagen sea un elemento en bloque */
    margin: 0 auto; /* Centra horizontalmente la imagen en su contenedor */
}

.main__button{
    background-color: #CCAE62;
    color: #30307E;
    width: 358px;
    height: 50px;
    margin: 18px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
}