.header {
  margin: 0 auto;
  max-width: 880px;
  padding: 28px;
}

/* sacar */
.header__info {
  display: flex;
  justify-content: space-between;
}

/* sacar */
.header__logo {
  width: 220px;
  height: 27px;
  margin-bottom: 25px;
}

.header__line {
  height: 1px;
  border: none;
  background-color: #8f8fbf;
}

/* MOBILE*/
@media screen and (min-width: 5px) and (max-width: 550px) {
  .header {
    margin-bottom: 38px;
  }
}
