.footer {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  background-color: #222258;
  padding: 36px auto;
  margin: 0 auto;
}

.footer__line {
  height: 1px;
  border: none;
  background-color: #8f8fbf;
  margin: 0 auto;
  max-width: 880px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center; /* alinear horizontalmente elemntos */
  width: 280px;
  margin: 0 auto;
}

.footer__text-container {
  flex: 1; /* Tomar el espacio restante*/
}

.footer__text {
  font-size: 14px;
}

.footer__text-color {
  color: #98fde9;
  font-weight: bold;
}

.footer__text-color2 {
  color: #ccae62;
  font-weight: bold;
}

.footer__rayo {
  width: 14px;
  height: 17px;
  margin: 0 auto;
  /* display: block; */
}

/* TABLET */
@media screen and (min-width: 321px) and (max-width: 768px) {
  .footer__text-container {
    flex: 1; /* Tomar el espacio restante*/
  }

  .footer {
    padding: 0;
    margin-bottom: 0;
    max-width: 768px;
  }
}

/* MOBILE */
@media screen and (min-width: 5px) and (max-width: 320px) {
  .footer {
    padding: 0;
    margin-bottom: 0;
    max-width: 550px;
  }

  .footer__info {
    width: auto;
  }

  .footer__text {
    font-size: 12px;
  }
}
